:root {
    --color-primary:#0A3871;
    --color-secondary: #E9ECF8;
}

* {
    padding: 0px;
    margin:0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--color-secondary);  
}

main {
    display: flex;
    align-items: stretch;
    column-gap: 10px;  
}

.textoEntrada {
    height: 800px;    
    margin: 0px 160px 0px 240px;
}

#textoEntrada {
    background-color: var(--color-secondary);    
    border: 0px;
    height: 664px;
    width: 680px;
    font-size: 32px;
    color: var(--color-primary);
}

textarea::placeholder {
    color: var(--color-primary);
    
}

.btn {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid;
    color: var(--color-primary);
}

.primary {
    background-color: var(--color-primary);
    color: white;
    
}

.botones {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.textoSalida {
    background-color: white;
    height: 750px;
    width: 400px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

#textoSalida {
    width: 336px;
    height: 632px;
    border: 0px;
    margin-bottom: 18px;
    display: none;
}

div > img {
    margin-top: 200px;
}

.btn.secondary.copiar {
    display: none;
}

p > strong {
    font-size: 24px;
}

.textoSalida > p {
    text-align: center;
}